
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tắt purge Tailwind từ đây trở xuống */
@layer utilities {
  .square-selected {}
  .square-last-from {}
  .square-last-to {}
  .square-legal {}
  .captured-piece {}
}

.captured-piece {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disappear 0.3s ease-out forwards;
  pointer-events: none;
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 0.4;
    transform: scale(0.55);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
